<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="YUBI_TARO.EXP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="YUBI_TOOL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="YUBI_TARO.EXP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="YUBI_TOOL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="YUBI_TOOL.Properties.Settings.YUBITAROConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=YUBITARO;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="YUBI_TARO.EXP.Properties.Settings.YUBITAROConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=YUBITARO;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <YUBI_TARO.EXP.Properties.Settings>
            <setting name="XLS_Export_Path" serializeAs="String">
                <value />
            </setting>
            <setting name="XLS_Use_Multi_Language" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="XLS_Out_Personal_File" serializeAs="String">
                <value>Personal Report, {0}, {1}.xls</value>
            </setting>
            <setting name="XLS_Out_Daily_File" serializeAs="String">
                <value>Daily Report, {0}, {1}.xls</value>
            </setting>
            <setting name="XLS_Out_Monthly_File" serializeAs="String">
                <value>Monthly Report, {0}, {1}.xls</value>
            </setting>
            <setting name="SelectedLanguage" serializeAs="String">
                <value>English</value>
            </setting>
            <setting name="Is_DB_Configed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="XLS_Default_Sheet_Name" serializeAs="String">
                <value>Sheet1</value>
            </setting>
        </YUBI_TARO.EXP.Properties.Settings>
        <YUBI_TOOL.Properties.Settings>
            <setting name="XLS_Export_Path" serializeAs="String">
                <value />
            </setting>
            <setting name="XLS_Use_Multi_Language" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="XLS_Out_Personal_File" serializeAs="String">
                <value>Personal Report, {0}, {1}.xls</value>
            </setting>
            <setting name="XLS_Out_Daily_File" serializeAs="String">
                <value>Daily Report, {0}, {1}.xls</value>
            </setting>
            <setting name="XLS_Out_Monthly_File" serializeAs="String">
                <value>Monthly Report, {0}, {1}.xls</value>
            </setting>
            <setting name="SelectedLanguage" serializeAs="String">
                <value>English</value>
            </setting>
            <setting name="Is_DB_Configed" serializeAs="String">
                <value>False</value>
            </setting>
        </YUBI_TOOL.Properties.Settings>
    </userSettings>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
</startup>
  <applicationSettings>
        <YUBI_TARO.EXP.Properties.Settings>
              <setting name="XLS_Daily_Report" serializeAs="String">
                    <value>Dailly_Report_V1_{0}.xls</value>
              </setting>
              <setting name="XLS_Monthly_Report" serializeAs="String">
                    <value>Monthly_Report_V1_{0}.xls</value>
              </setting>
              <setting name="XLS_Personal_Report" serializeAs="String">
                    <value>Personal_Report_V1_{0}.xls</value>
              </setting>
              <setting name="AutoCorrectThirdShift" serializeAs="String">
                    <value>True</value>
              </setting>
              <setting name="XLS_Correct_Night_Shift" serializeAs="String">
                    <value>Correct_Night_Shift_{0}.xls</value>
              </setting>
        </YUBI_TARO.EXP.Properties.Settings>
        <YUBI_TOOL.Properties.Settings>
              <setting name="XLS_Daily_Report" serializeAs="String">
                    <value>Dailly_Report_V1_{0}.xls</value>
              </setting>
              <setting name="XLS_Monthly_Report" serializeAs="String">
                    <value>Monthly_Report_V1_{0}.xls</value>
              </setting>
              <setting name="XLS_Personal_Report" serializeAs="String">
                    <value>Personal_Report_V1_{0}.xls</value>
              </setting>
              <setting name="AutoCorrectThirdShift" serializeAs="String">
                    <value>True</value>
              </setting>
              <setting name="XLS_Correct_Night_Shift" serializeAs="String">
                    <value>Correct_Night_Shift_{0}.xls</value>
              </setting>
        </YUBI_TOOL.Properties.Settings>
    </applicationSettings>
</configuration>
